body {
    margin: 0;
    height: 99vh;
}
td {
	font-family: 'Berlin Sans FB Demi', 'Berlin Sans FB', sans-serif;
}

/* Style for the menu bar */
.navbarbg {
    background: #0675f3;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #0c0c0c67;
}

/* General styling for menu links */
.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 180;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    display: inline-block;
    padding: 7px;
    margin: 3px;
    text-decoration: none;
    font-size: 16px;
    color: #F7F2F2;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

.navbar ul li a.selected {
    /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    border-radius: 5px;
}

.navbar ul li a:hover {
    background: #ffffff14;
    opacity: 1;
    box-shadow: 0px 1.5px 2px #1f1f1f52;
    transition: all 0.10s ease-in;
    transform: translateY(-0.70px);
}

/* Common border-radius classes */
.roundify {
    border-radius: 5px;
}

.roundifyL {
    border-radius: 5px 0 0 5px;
}

.roundifyR {
    border-radius: 0 5px 5px 0;
}

.roundifyT {
    border-radius: 5px 5px 0 0;
}

.roundifyB {
    border-radius: 0 0 5px 5px;
}

.roundifyBR {
    border-radius: 0 0 5px;
}

.roundifyBL {
    border-radius: 0 0 0 5px;
}

/* Scrollbar styling */
.scrlbar {
    height: 200vh;
    width: 960px;
    margin: auto;
    max-width: 20%;
}

::-webkit-scrollbar-track {
    background-color: #050505;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 2px;
}
