body, html {
    font-family: Berlin Sans FB Demi, Berlin Sans FB; src: url('assets/BRLNSDB.TTF');
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #363636;
    position: relative;
}

.navbarbg {
    background: #3d3d3d;
    margin: 8px auto; 
    border-radius: 5px;
    box-shadow: 0px 3px 5px #0c0c0c67;
    position: sticky;
    width: calc(100% - 15px);
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    display: inline-block;
    padding: 7px;
    margin: 3px;
    text-decoration: none;
    font-size: 16px;
    color: #F7F2F2;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

.navbar ul li a:hover {
    background: #ffffff14;
    opacity: 1;
    box-shadow: 0px 1.5px 2px #1f1f1f52;
    transition: all 0.10s ease-in;
    transform: translateY(-0.70px);
}

.roundALL {
    border-radius: 5px;
}

.roundL {
    border-radius: 5px 0 0 5px;
}

.roundR {
    border-radius: 0 5px 5px 0;
}

.roundT {
    border-radius: 5px 5px 0 0;
}

.roundB {
    border-radius: 0 0 5px 5px;
}

.roundBR {
    border-radius: 0 0 5px 0;
}

.roundBL {
    border-radius: 0 0 0 5px;
}

::-webkit-scrollbar-track {
    background-color: #363636;
}
.roundTR {
    border-radius: 0 5px 0 0;
}
.roundTL {
    border-radius: 5px 0 0 0;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #717171;
}

::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 2px;
}

section {
    height: calc(100% - 60px);
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.21, 1), visibility 0s 0.45s; 
}

a[id="home"]:target ~ #home,
a[id="about"]:target ~ #about,
a[id="edt"]:target ~ #edt {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.21, 1), visibility 0s;
}
